@{
    ViewData["Title"] = "About Us";
}



<div class="text-center">
    <p>Use this page to display some information About Us</p>
    <h1>Mobile Shoppie Pvt. Ltd.</h1>
    <hr/>
    <p>Smart Phone seller</p>
    <p>Technology making like easy.</p>
</div>
