@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <p>456 Vishnu Appartment</p>
    <p>Shivaji Nagar, Mount Carmel Road</p>
    <p>Tukum, Chandrapur 411009</p>
    <br/>
    <p>Email: Palash.kardhekar523@gmail.com</p>
    <p>Contact Number:9856231456</p>
    <p>Contact Number:7856451295</p>
    
</div>