@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Online Mobile Shoppie</h1>
    <ol>
        <h3>Select your prefered Company</h3>
        <li>Samsung</li>
        <li>Xiaomi</li>
        <li>One Plus</li>
        <li>Real Me</li>
        <li>Apple</li>
    </ol>
</div>
