@{
    ViewData["Title"] = "Customer Detail Page";
}

<div class="text-center">
    <h1>All Customer Details</h1>
    <hr/>
    <div>
        @* @{
            List<Customer> allCustomer = (List<Customer>)ViewData["catalog"];
                <ol>
                    @foreach (Customer cust in allCustomer)
                    {
                        <li>@cust.FirstName</li>
                    }
                </ol>
        } *@
    </div>
</div>